body {
	font-family: Arial;
	font-size: 12px;
	text-align: left;
}

table {
	border-collapse: collapse;
	overflow: hidden;
	z-index: 1;
	width: 100%;
}

table  th tr td {
	padding: 0px;
	margin: 0px;
}

th {
	font-size: 14px;
	font-weight: normal;
	border-bottom: 1px solid black;
	text-align: left;
	padding: 0px;
}

tr:hover {
	background-color: blue;
	color: white;
}


